/* main css styles */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* style the layout of header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #242423;
}

h2 {
  text-align: center;
  color: lightseagreen;
}

h3 {
  text-align: center;
}

#info {
  background-color: lightseagreen;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carFilter {
  padding: 20px;
  background-color: lightblue;
}

ul {
  list-style-type: none;
}

.carContainer {
  display: flex;
  flex-wrap: wrap;
}

#carCards {
  padding: 10px;
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  line-height: 3px;
}

img {
  height: 200px;
  width: 280px;
}

#carCard {
  border: 2px solid black;
  margin: 5px;
}
